<div class="w-1/4 mb-10 px-2">
    <a href="{% url "rooms:detail" room.pk %}">
    <div class="w-full h-64 bg-cover bg-center rounded-lg mb-4" style="background-image: url({{room.first_photo}});">
    </div>

    <div class="flex justify-between mb-2">
        <div>

            {% if room.owner.superhost %}
            <i class="fa-solid fa-circle-check"></i>
            <span class="mr-px uppercase font-medium text-green-600 border border-green-700 rounded py-px px-1">verified</span>
            {% endif %}

            <span class="text-sm text-gray-600">{{room.city}}, {{room.country.name}}</span>
        </div>
        <span class="text-sm items-center">
             
            <i class="fa fa-solid fa-star text-red-600 text-xs mr-1"></i>{{room.total_rating}}
        </span>
    </div>

    <span class="text-black font-medium">
        
            {{room.name}} / Rs.{{room.price}}
        
    </span>
    
    </a>
    
</div>

