{% extends "base.html"  %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}

    {% for room in rooms %}
        <h1>{{room.name}} / Rs.{{room.price}}</h1>
    {% endfor %}

    <h3>
        {% if page is 1 %}
            Page {{page}} of {{page_count}}
            <a href="?page={{page|add:1}}"> nxt  </a>
        {% endif %}
        {% if page != 1 %}
            <a href="?page={{page|add:-1}}"> prev  </a>   
                Page {{page}} of {{page_count}}
            {% if page != page_count %}
                <a href="?page={{page|add:1}}"> nxt  </a>
            {% endif %}
        {% endif %}
    </h3> 

    

{% endblock content %}


