@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box{
    transition: box-shadow .5s linear;
}

form {
    input {
        @apply mb-3;
    }
}

.cal-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;
}


