{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    <div class="container lg:border-yellow-500 lg:w-80 md:w-1/2 xl:w-1/4 my-10 mx-auto justify-center items-center flex flex-col border p-6 border-gray-400">

    
    {% include 'partials/social_login.html' %}

    <form action="{% url "users:signup" %}" method="post">
        
        {% csrf_token %}
        {{form.as_p}}
        <button>sign Up</button>
    </form>

    </div>
{% endblock content %}